div.ramdomBox {
    height: 500px;
}

img.random_size {
    width: 400px;
    height: 350px;
}

div.empty2 {
    width: 10px;
    height: 50px;
}

input.searchSize {
    width: 800px !important;
}

div.owl-prev {
    margin-right: 160px !important;
}
