
/*상품 메인페이지 사이드바 css*/
.sidebar_menu {
  border-left: 5px solid #72ab09;
  color: #131e03 !important;
  font-size: 20px;

}

.sidebar_menu a {
  display: block;
}

.M01 {
  margin-left: 10px;
  width: 100px;
}

.M01>li, .M02>li, .M03>li {
  position: relative;
  width: 100%;
  height: 50px;

  text-align: center;
  line-height: 50px;
  list-style: none;

}

.M01>li:hover .M02 {
  left: 100px;
}

.M01>li a:hover {
  display: block;
  background-color: #ececec;
  border-radius: 10px;
}

.M02, .M03 {
  width: 100px;
  position: absolute;
  top: 0;
  left: -9999px;
  background-color: #ececec;
  border-radius: 10px;
}

.M02>li:hover .M03 {
  left: 67px;

}

.M02>li a:hover {
  display: block;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.M03>li a:hover {
  display: block;
  background-color: #f8f8f8;
  border-radius: 10px;
}

img.book_img_size {
  width: 300px;
  height: 360px;
}

div.book_intro_box {
  width: 304px;
  height: 300px;
}

a.cart_add_box {
  background-color: #fff;
}

div.empty {
  width: 10px;
  height: 10px;
}

div.book_intro_box {
  background-color: #f3f3f3;
}

a.fa-apple-alt:before {
  margin-right: 3px;
}

div.spinner {
  display: none;
}

/*상품 상세 view 페이지 */
div.pro_view_title {
  border-bottom: 4px solid #6b6b6b;
  margin-bottom: 40px;
}

div.pro_view_titleP {
  margin-top: 15px;
  margin-bottom: 30px;
}

span.pro_view_titleV {
  margin-left: 8px;

}

div.pro_view_admin {
  /*display: none;*/
  margin-left: 800px;
}

div.pro_view_admin button {
  width: 90px;
  height: 50px;
  margin-left: 10px;
}

div.book_video {
  margin-bottom: 80px;
  text-align: center;
}

div.book_content1 {
  margin-top: 50px;
}

a.payBtn {
  margin-left: 15px;
}

button.review_del_btn {
  margin-top: 50px !important;
  margin-left: 50px !important;
  height: 55px;
}

button.review_regist_btn {
  width: 70% !important;
  margin-left: 30px;
  font-size: 20px;
}

.rating__star:first-child {
  color: gold;
}

span.star_span {
  margin-left: 100px;
}

i.first_star {
  color: #dabd18b2 !important;
  font-size: 20px;
}

.rating {
  position: relative;
  width: 220px !important;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3em;
  padding: 5px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 2px #b3acac;
}

.rating__result {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-10px) translateX(-5px);
  z-index: -9;
  font: 3em Arial, Helvetica, sans-serif;
  color: #ebebeb8e;
  pointer-events: none;
}

.rating__star {
  font-size: 1.3em;
  cursor: pointer;
  color: #dabd18b2;
  transition: filter linear .3s;
}

.rating__star:hover {
  filter: drop-shadow(1px 1px 4px gold);
}

div.proBanner {
  background: linear-gradient(rgb(204 199 199 / 34%), rgb(166 166 166 / 30%)), url(/resources/resources/img/banner/proBanner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

a.proB {
  color: #5b8d00;
}