<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.springmvc.mapper.BbsMapper">
    <sql id="whereCondition">

        <where>

            <if test="search_type != null">
            <foreach collection="search_type" item="type" open="(" close=")" separator=" or ">
                <if test="type == 't'.toString()">
                    title like concat('%', #{search_word}, '%')
                </if>
                <if test="type == 'u'.toString()">
                    user_id like concat('%', #{search_word}, '%')
                </if>
            </foreach>
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
               and display_date >= #{search_date1}
            </if>

            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and display_date <![CDATA[<=]]> #{search_date2}
            </if>
            and 1=1
        </where>

<!--        <choose>-->
<!--            <when test="search_type != null">-->
<!--                <where>-->
<!--                    <foreach collection="search_type" item="type" open="(" close=")" separator=" or ">-->
<!--                        <if test="type == 't'.toString()">-->
<!--                            title like concat('%', #{search_word}, '%')-->
<!--                        </if>-->
<!--                        <if test="type == 'u'.toString()">-->
<!--                            user_id like concat('%', #{search_word}, '%')-->
<!--                        </if>-->
<!--                    </foreach>-->
<!--                    <if test="search_date1 != null">-->
<!--                        -->
<!--                    </if>-->
<!--                </where>-->
<!--            </when>-->

<!--        </choose>-->
    </sql>
    
    <insert id="regist">
        insert into tbl_bbs ( user_id, title, content, display_date, read_cnt, interest, reg_date )
        values( #{user_id}, #{title}, #{content}, #{display_date}, #{read_cnt}, #{interest}, now())
    </insert>

    <select id="listAll" resultType="org.fullstack4.springmvc.domain.BbsVO">
        select idx, user_id, title, content, display_date, read_cnt, reg_date, modify_date, interest
        from tbl_bbs
        order by idx desc
    </select>

    <select id="view" resultType="org.fullstack4.springmvc.domain.BbsVO">
        select idx, user_id, title, content, display_date, read_cnt, reg_date, modify_date, interest
        from tbl_bbs
        where idx=#{idx}
    </select>

    <update id="modify">
        update tbl_bbs set user_id=#{user_id},
            title=#{title},
            content=#{content},
            display_date=#{display_date},
            interest=#{interest},
            modify_date=now()
        where idx=#{idx}
    </update>

    <delete id="delete">
        delete from tbl_bbs
        where idx=#{idx}
    </delete>

    <select id="bbsTotalCount" resultType="int">
        select count(*) from tbl_bbs
        <include refid="whereCondition"></include>
<!--        <where>-->
<!--            <foreach collection="search_type" item="type" open="(" close=")" separator=" or ">-->
<!--                <if test="type == 't'.toString()">-->
<!--                    title like concat('%', #{search_word}, '%')-->
<!--                </if>-->
<!--                <if test="type == 'u'.toString()">-->
<!--                    user_id like concat('%', #{search_word}, '%')-->
<!--                </if>-->
<!--            </foreach>-->
<!--&lt;!&ndash;            <if test="type='t'.toString()"> 예시임!&ndash;&gt;-->
<!--&lt;!&ndash;                <trim prefix=" and ">&ndash;&gt;-->
<!--&lt;!&ndash;                    title like concat('%', #{search_word}, '%')&ndash;&gt;-->
<!--&lt;!&ndash;                </trim>&ndash;&gt;-->
<!--&lt;!&ndash;            </if>&ndash;&gt;-->
<!--        </where>-->

    </select>

    <select id="bbsListByPage" resultType="org.fullstack4.springmvc.domain.BbsVO">
        select idx, user_id, title, content, display_date, read_cnt, reg_date, modify_date, interest
        from tbl_bbs
        <include refid="whereCondition"></include>
<!--        <where>-->
<!--            <foreach collection="search_type" item="type" open="(" close=")" separator=" or ">-->
<!--                <if test="type == 't'.toString()">-->
<!--                    title like concat('%', #{search_word}, '%')-->
<!--                </if>-->
<!--                <if test="type == 'u'.toString()">-->
<!--                    user_id like concat('%', #{search_word}, '%')-->
<!--                </if>-->
<!--            </foreach>-->
<!--        </where>-->
        order by display_date desc
        limit #{page_skip_count}, #{page_size}
    </select>

</mapper>