<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fullstack4.demo.mapper.BbsReplyMapper">
   <insert id="reply_regist">
       insert into tbl_bbs_reply(bbs_idx,user_id,title,reg_date) values(#{bbs_idx}, #{user_id},#{title},now())
   </insert>


    <select id="bbsReplyList" resultType="org.fullstack4.demo.domain.BbsReplyVO">
        select * from tbl_bbs_reply where bbs_idx = #{bbs_idx}
    </select>


    <update id="update_reply">
        update tbl_bbs set title = #{title} where idx = #{idx}
    </update>
</mapper>