<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.springmvc.mapper.blackFriday.BlackFirdayMapper">


    <insert id="blackFridayRegist" >
        insert into bec_black (pro_idx, pro_name,pro_price,pro_image , black_price)
        values (#{pro_idx} , #{pro_name}  ,#{pro_price} , #{pro_image}  ,#{black_price} )

    </insert>

    <select id="blackFridayList" resultType="org.fullstack4.springmvc.domain.BlackFridayVO">
        select * from bec_black
    </select>

    <select id="blackFridayStart"  resultType="org.fullstack4.springmvc.domain.BlackFridayVO">
        select * from bec_black  limit 0,1
    </select>

    <select id="getTime" resultType="int">
        select black_time from bec_black where black_status = 's'
    </select>

    <select id="countBlack">
        select count(*) from bec_black
    </select>

    <update id="blackStatusChange">
        update bec_black set black_status = 's', black_time = #{timer}
    </update>



    <update id="timeMinus">
        update bec_black set  black_time = #{minus}
    </update>
    <update id="finalStatus">
        update bec_black set black_status = 'e'
    </update>

    <update id="registBlack">
        update bec_black set member_id = #{arg0} , black_price = #{arg1}
    </update>
</mapper>