<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.springmvc.mapper.memberjoin.MemberJoinMapper">
    <insert id="regist">
        INSERT INTO bec_member (member_id,member_pwd,member_name,member_email,member_addr1,member_addr2,member_phone,member_zonecode,member_mileage,member_reg_date,member_type)
        VALUES ( #{member_id} , #{member_pwd} , #{member_name}
                ,  #{member_email} , #{member_addr1} , #{member_addr2}
                , #{member_phone}
                , #{member_zonecode} ,5000,now(),'b')
    </insert>

    <select id="idCheck" resultType="int">
        select count(*) from bec_member where member_id = #{memberId}
    </select>

</mapper>