<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.springmvc.mapper.ProductMapper">

    <select id="pro_listAll" resultType="org.fullstack4.springmvc.domain.ProductVO">
        select pro_idx, pro_name, pro_writer, pro_price, pro_reg_date, pro_content, pro_category1, pro_category2, pro_category3, pro_modify_date
        from bec_product
        order by pro_idx ASC
    </select>

    <select id="pro_view" resultType="org.fullstack4.springmvc.domain.ProductVO">
        select pro_idx, pro_name, pro_writer, pro_price, pro_amount, pro_content, pro_image, pro_company, pro_video, pro_category1, pro_category2, pro_category3, pro_reg_date, pro_modify_date, FLOOR(pro_price-(pro_price * (pro_sale / 100))) AS pro_sale_price
        from bec_product
        where pro_idx = #{pro_idx}
    </select>


    <select id="productListByPage" resultType="org.fullstack4.springmvc.domain.ProductVO">
        SELECT
        BP.pro_idx, BP.pro_name, BP.pro_writer, BP.pro_price, BP.pro_sale, BP.pro_amount, BP.pro_content, BP.pro_image, BP.pro_company, BP.pro_video, BP.pro_category1, BP.pro_category2, BP.pro_category3, BP.pro_reg_date, BP.pro_modify_date,
        FLOOR(BP.pro_price - BP.pro_price * (BP.pro_sale / 100)) AS pro_sale_price,
        FLOOR(AVG(BR.review_star)) AS review_star_avg
        FROM bec_product BP
        LEFT JOIN bec_review BR ON BP.pro_idx = BR.pro_idx
        WHERE 1=1
        <if test="pro_category1 != null and pro_category1 != ''">
            AND BP.pro_category1 = #{pro_category1}
        </if>
        <if test="pro_category2 != null and pro_category2 != ''">
            AND BP.pro_category2 = #{pro_category2}
        </if>
        <if test="pro_category3 != null and pro_category3 != ''">
            AND BP.pro_category3 = #{pro_category3}
        </if>
        <if test="search_word != null and search_word != ''">
            AND (BP.pro_name LIKE CONCAT('%', #{search_word}, '%') OR BP.pro_content LIKE CONCAT('%', #{search_word}, '%'))
        </if>
        GROUP BY BP.pro_idx
        <choose>
            <when test="sortField != null and sortDir != null">
                ORDER BY ${sortField} ${sortDir}
            </when>
            <otherwise>
                ORDER BY BP.pro_reg_date DESC
            </otherwise>
        </choose>
        LIMIT #{page_skip_count}, #{page_size}
    </select>


    <select id="productTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM bec_product
        WHERE 1=1
        <if test="pro_category1 != null and pro_category1 != ''">
            AND pro_category1 = #{pro_category1}
        </if>
        <if test="pro_category2 != null and pro_category2 != ''">
            AND pro_category2 = #{pro_category2}
        </if>
        <if test="pro_category3 != null and pro_category3 != ''">
            AND pro_category3 = #{pro_category3}
        </if>
        <if test="search_word != null and search_word != ''">
            AND (pro_name LIKE CONCAT('%', #{search_word}, '%') OR pro_content LIKE CONCAT('%', #{search_word}, '%'))
        </if>
        <choose>
            <when test="sortField != null and sortDir != null">
                ORDER BY ${sortField} ${sortDir}
            </when>
            <otherwise>
                ORDER BY BP.pro_reg_date DESC
            </otherwise>
        </choose>
    </select>


    <select id="indexRandomList" resultType="org.fullstack4.springmvc.domain.ProductVO">
        SELECT pro_image, pro_idx
        FROM bec_product
        ORDER BY RAND()
        LIMIT 4;
    </select>

</mapper>