<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.springmvc.mapper.ReviewMapper">

    <select id="review_list" resultType="org.fullstack4.springmvc.domain.ReviewVO">
        select BR.review_idx, BR.pro_idx, BR.member_id, BR.review_content, BR.review_title, BR.review_star, BR.review_reg_date, BM.member_img
        from bec_review BR
        INNER JOIN bec_member BM ON BR.member_id = BM.member_id
        where pro_idx = #{pro_idx}
    </select>


    <insert id="review_regist">
        insert into bec_review (pro_idx, member_id, review_content, review_title, review_star, review_reg_date)
        values(#{pro_idx}, #{member_id}, #{review_content}, #{review_content}, #{review_star}, now())
    </insert>

    <delete id="review_delete">
        delete from bec_review where review_idx = #{review_idx}
    </delete>

    <select id="review_star_num">
        select review_star
        from bec_review
        where review_idx = #{review_idx}
    </select>

    <select id="review_star_avg">
        select IFNULL(floor(avg(review_star)), 0) as review_star_avg
        from bec_review
        where pro_idx = #{pro_idx}
    </select>
</mapper>