<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.springmvc.mapper.ReviewMapper">

    <select id="review_list" resultType="org.fullstack4.springmvc.domain.ReviewVO">
        select review_idx, pro_idx, member_id, review_content, review_title, review_star, review_reg_date
        from bec_review
        where pro_idx = #{pro_idx}
    </select>


</mapper>